.navbar {
    background-image: linear-gradient(45deg, #5271FF, hotpink);
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    gap: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
    margin: auto;
    font-size: 1.5rem;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.05ch;
    font-size: 1.75rem
}

    .navbar-brand img {
        width: 22px;
    }

main {
    flex: 1;
}
