@inherits DropdownComponentBase

@if (Dropdown.IsOpen)
{
    <div style="position: fixed; inset: 0;" @onclick="OnClick" @onmouseover="HandleMouseOver"></div>
}

@code {
    internal event Action? MouseEntered;

    public override Type Type => GetType();

    [Parameter]
    public EventCallback OnClick { get; set; }

    private void HandleMouseOver()
    {
        MouseEntered?.Invoke();
    }
}