<div class="hb-doc-block">
    <div class="hb-interactive-demo not-prose">
        <DynamicComponent Type="Type" />
    </div>
    <div class="hb-code-preview">
        @if (string.IsNullOrEmpty(CodeBlock))
        {
            <p>Loading...</p>
        }
        else
        {
            <pre>
                @CodeBlock
            </pre>
        }
    </div>
</div>

@code {
    [Inject]
    private IRazorFileReader FileProvider { get; set; } = default!;

    [Parameter, EditorRequired]
    public required Type Type { get; set; }

    public string CodeBlock { get; private set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CodeBlock = await FileProvider.ReadFileAsync(Type.Name);
            StateHasChanged();
        }
    }
}