<div class="mt-5">
    <h3 id="@Type.Name">@Title</h3>

    <div class="hb-doc-block border">
        <div class="hb-interactive-demo border-bottom">
            <DynamicComponent Type="Type" />
        </div>
        <div class="hb-code-preview bg-light">
            @if (string.IsNullOrEmpty(CodeBlock))
            {
                <p class="p-3">Loading...</p>
            }
            else
            {
                <pre class="mb-0 p-3">
                <code>@CodeBlock</code>
                </pre>
            }
        </div>
    </div>
</div>

@code {
    [Inject]
    private IJSRuntime JS { get; set; } = default!;

    [Inject]
    private IRazorFileReader FileProvider { get; set; } = default!;

    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter, EditorRequired]
    public required Type Type { get; set; }

    public string CodeBlock { get; private set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CodeBlock = await FileProvider.ReadFileAsync(Type.Name);
            StateHasChanged();

            await JS.InvokeVoidAsync("hljs.highlightAll");
        }
    }
}