<select @bind="@CurrentTheme" @bind:after="AfterThemeUpdated" disabled="@(ThemeFactory is null)" placeholder="Select a theme...">
    <option value="">None</option>
    <option value="Bootstrap">Bootstrap</option>
    <option value="Tailwind">Tailwind</option>
</select>