@page "/"
@using HeadlessBlazor.Docs.Client.Examples.Dropdown

<PageTitle>Home</PageTitle>

<div class="hb-content pt-4 pb-5 container">
    <h2 id="Dropdown">Dropdown</h2>
    <DropdownExamples @rendermode="InteractiveWebAssembly" />
</div>
