@page "/"
@using HeadlessBlazor.Docs.Client.Examples.Dropdown

<PageTitle>Home</PageTitle>

<div class="page-root">
    <div class="hb-top-row">
        <a href="" class="hb-brand">Headless Blazor</a>
        <StatefulThemePicker @rendermode="InteractiveWebAssembly" />
    </div>
    <div class="hb-content">
        <h2>Dropdown</h2>

        <DropdownExamples @rendermode="InteractiveWebAssembly" />
    </div>

</div>
