@page "/"
@using HeadlessBlazor.Docs.Client.Examples.Dropdown

<PageTitle>Home</PageTitle>

<div class="page-root">
    <div class="hb-top-row">
        <a href="" class="hb-brand">
            <img src="HeadlessBlazorLogo-white.svg" />
            <span>Headless Blazor</span>
        </a>
    </div>
    <div class="hb-content prose">
        <h2 id="Dropdown">Dropdown</h2>
        <DropdownExamples @rendermode="InteractiveWebAssembly" />
    </div>

</div>
