@page "/"

<PageTitle>Home</PageTitle>

<div class="page-root">
    <div class="hb-top-row">
        <h1>Headless Blazor</h1>
        <ThemePicker @rendermode="InteractiveWebAssembly" />
    </div>

    <h2>Dropdown</h2>

    <HeadlessBlazor.Docs.Client.Examples.Dropdown.SimpleDropdown @rendermode="InteractiveWebAssembly" />

</div>