@page "/"
@using HeadlessBlazor.Docs.Client.Examples.Dropdown
@using HeadlessBlazor.Docs.Client.Examples.Forms
@using HeadlessBlazor.Docs.Client.Examples.Modal
@using HeadlessBlazor.Docs.Client.Examples.Toast

<PageTitle>Home</PageTitle>

<div class="hb-content pt-4 pb-5 container">
    <h2 id="Dropdown">Dropdown</h2>
    <DropdownExamples @rendermode="InteractiveWebAssembly" />

    <h2 id="Modal" class="mt-5">Modal</h2>
    <ModalExamples @rendermode="InteractiveWebAssembly" />

    <h2 id="Toast" class="mt-5">Toast</h2>
    <ToastExamples @rendermode="InteractiveWebAssembly" />

    <h2 id="Forms" class="mt-5">Forms</h2>
    <FormExamples @rendermode="InteractiveWebAssembly" />
</div>
