@inherits LayoutComponentBase

<div class="page-root">
    <div class="hb-top-row">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="" class="hb-brand">
                <img src="HeadlessBlazorLogo-white.svg" />
                <span>Headless Blazor</span>
            </a>
            <div class="ml-auto">
                <a class="icon text-white" href="https://github.com/erinnmclaughlin/HeadlessBlazor" target="_blank" title="View on GitHub">
                    <i class="fab fa-github fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
