@page "/"
@rendermode InteractiveAuto

<h2 class="mb-4">Dropdown</h2>

<h3 class="mb-3">Simple Dropdown</h3>

<div class="hb-example-snippet border">
    <div class="hb-example border-bottom">
        <HBDropdown>
            <HBDropdownOutsideClickBehavior />
            <HBDropdownTrigger>Click Me</HBDropdownTrigger>
            <HBDropdownItems>
                <HBDropdownItem>Default</HBDropdownItem>
                <HBDropdownItemButton>Button</HBDropdownItemButton>
                <HBDropdownItemButton disabled="true">Disabled Button</HBDropdownItemButton>
                <HBDropdownItemButton @onclick:stopPropagation="true">Button (Stop Propagation)</HBDropdownItemButton>
                <HBDropdownItemLink>Link</HBDropdownItemLink>
                <HBDropdownItemLink @onclick:preventDefault="true">Link (Prevent Default)</HBDropdownItemLink>
                <HBDropdownItemLink @onclick:stopPropagation="true">Link (Stop Propagation)</HBDropdownItemLink>
                <HBDropdownItemLink OnClickPreventDefault="true" OnClickStopPropagation="true">Link (Prevent Default and Stop Propagation)</HBDropdownItemLink>
            </HBDropdownItems>
        </HBDropdown>
    </div>
    <div class="hb-code-block bg-light bg-gray-100">
        <pre>@Example1CodeBlock</pre>
    </div>
</div>
