<h2 class="mb-4">Dropdown</h2>

<h3 class="mb-3">Simple Dropdown</h3>

<div class="hb-example-snippet border">
    <div class="hb-example border-bottom">
        <Dropdown class="dropdown d-inline-block">
            <DropdownTrigger class="btn btn-primary dropdown-toggle">Click Me</DropdownTrigger>
            @if (context.IsOpen)
            {
                <DropdownItems class="dropdown-menu show">
                    <DropdownItem class="dropdown-item">Default</DropdownItem>
                    <DropdownItem class="dropdown-item" type="button" ElementName="button">Button</DropdownItem>
                    <DropdownItem class="dropdown-item" type="button" disabled="true" ElementName="button">Disabled Button</DropdownItem>
                    <DropdownItem class="dropdown-item" type="button" ElementName="button" OnClickStopPropagation="true">Button (Stop Propagation)</DropdownItem>
                    <DropdownItem class="dropdown-item" href="#" ElementName="a">Link</DropdownItem>
                    <DropdownItem class="dropdown-item" href="#" ElementName="a" OnClickPreventDefault="true">Link (Prevent Default)</DropdownItem>
                    <DropdownItem class="dropdown-item" href="#" ElementName="a" OnClickPreventDefault="true" OnClickStopPropagation="true">Link (Prevent Default and Stop Propagation)</DropdownItem>
                </DropdownItems>
            }
        </Dropdown>
    </div>
    <div class="hb-code-block bg-light">
        <pre>@Example1CodeBlock</pre>
    </div>
</div>
