<h2 class="mb-4">Dropdown</h2>

<h3 class="mb-3">Simple Dropdown</h3>

<div class="hb-example-snippet border">
    <div class="hb-example border-bottom">
        <Dropdown class="dropdown d-inline-block">
            <DropdownTrigger class="btn btn-primary dropdown-toggle">Click Me</DropdownTrigger>
            <DropdownItems class="dropdown-menu show">
                <DropdownItem class="dropdown-item">Default</DropdownItem>
                <DropdownItemButton class="dropdown-item" type="button">Button</DropdownItemButton>
                <DropdownItemButton class="dropdown-item" type="button" disabled="true">Disabled Button</DropdownItemButton>
                <DropdownItemButton class="dropdown-item" type="button"@onclick:stopPropagation="true">Button (Stop Propagation)</DropdownItemButton>
                <DropdownItemLink class="dropdown-item" href="#">Link</DropdownItemLink>
                <DropdownItemLink class="dropdown-item" href="#" @onclick:preventDefault="true">Link (Prevent Default)</DropdownItemLink>
                <DropdownItemLink class="dropdown-item" href="#" @onclick:stopPropagation="true">Link (Stop Propagation)</DropdownItemLink>
                <DropdownItemLink class="dropdown-item" href="#" OnClickPreventDefault="true" OnClickStopPropagation="true">Link (Prevent Default and Stop Propagation)</DropdownItemLink>
            </DropdownItems>
        </Dropdown>
    </div>
    <div class="hb-code-block bg-light">
        <pre>@Example1CodeBlock</pre>
    </div>
</div>
