<select @bind="ThemeFactory.CurrentTheme" placeholder="Select a theme...">
    <option value="">None</option>
    <option value="Bootstrap">Bootstrap</option>
    <option value="Tailwind">Tailwind</option>
</select>