<HBDropdown Context="dropdown" class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">Click Me</button>
    <ul class="dropdown-menu @(dropdown.IsOpen ? "show" : "")">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</HBDropdown>
