<div class="d-flex justify-content-between">
    <HBDropdown class="dropdown d-inline-block">
        <HBDropdownTrigger class="btn btn-primary dropdown-toggle">Click Me</HBDropdownTrigger>
        <HBDropdownItems class="@(context.IsOpen ? "dropdown-menu show" : "dropdown-menu")">
            <HBDropdownItem class="dropdown-item">Option 1</HBDropdownItem>
            <HBDropdownItem class="dropdown-item">Option 2</HBDropdownItem>
            <HBDropdownItem class="dropdown-item">Option 3</HBDropdownItem>
        </HBDropdownItems>
    </HBDropdown> 
    <HBDropdown class="dropdown d-inline-block">
        <HBDropdownTrigger class="btn btn-primary dropdown-toggle">Click Me</HBDropdownTrigger>
        <HBDropdownItems class="@(context.IsOpen ? "dropdown-menu show" : "dropdown-menu")">
            <HBDropdownItem class="dropdown-item">Option 1</HBDropdownItem>
            <HBDropdownItem class="dropdown-item">Option 2</HBDropdownItem>
            <HBDropdownItem class="dropdown-item">Option 3</HBDropdownItem>
        </HBDropdownItems>
    </HBDropdown>
</div>
