<div class="d-flex justify-content-between">
    <HBDropdown class="dropdown d-inline-block">
        <HBDropdownTrigger class="btn btn-primary dropdown-toggle">Click Me</HBDropdownTrigger>
        <HBDropdownItems class="@(context.IsOpen ? "dropdown-menu show" : "dropdown-menu")">
            <HBDropdownItem class="dropdown-item">Default</HBDropdownItem>
            <HBDropdownItemButton class="dropdown-item">Button</HBDropdownItemButton>
            <HBDropdownItemButton class="dropdown-item" disabled="true">Disabled Button</HBDropdownItemButton>
            <HBDropdownItemButton class="dropdown-item" @onclick:stopPropagation="true">Button (Stop Propagation)</HBDropdownItemButton>
            <HBDropdownItemLink class="dropdown-item">Link</HBDropdownItemLink>
            <HBDropdownItemLink class="dropdown-item" href="#" @onclick:preventDefault="true">Link (Prevent Default)</HBDropdownItemLink>
            <HBDropdownItemLink class="dropdown-item" href="#" @onclick:stopPropagation="true">Link (Stop Propagation)</HBDropdownItemLink>
            <HBDropdownItemLink class="dropdown-item" href="#" OnClickPreventDefault="true" OnClickStopPropagation="true">Link (Prevent Default and Stop Propagation)</HBDropdownItemLink>
        </HBDropdownItems>
    </HBDropdown>
    <HBDropdown class="dropdown d-inline-block">
        <HBDropdownTrigger class="btn btn-primary dropdown-toggle">Click Me</HBDropdownTrigger>
        <HBDropdownItems class="@(context.IsOpen ? "dropdown-menu show" : "dropdown-menu")">
            <HBDropdownItem class="dropdown-item">Default</HBDropdownItem>
            <HBDropdownItemButton class="dropdown-item">Button</HBDropdownItemButton>
            <HBDropdownItemButton class="dropdown-item" disabled="true">Disabled Button</HBDropdownItemButton>
            <HBDropdownItemButton class="dropdown-item" @onclick:stopPropagation="true">Button (Stop Propagation)</HBDropdownItemButton>
            <HBDropdownItemLink class="dropdown-item">Link</HBDropdownItemLink>
            <HBDropdownItemLink class="dropdown-item" href="#" @onclick:preventDefault="true">Link (Prevent Default)</HBDropdownItemLink>
            <HBDropdownItemLink class="dropdown-item" href="#" @onclick:stopPropagation="true">Link (Stop Propagation)</HBDropdownItemLink>
            <HBDropdownItemLink class="dropdown-item" href="#" OnClickPreventDefault="true" OnClickStopPropagation="true">Link (Prevent Default and Stop Propagation)</HBDropdownItemLink>
        </HBDropdownItems>
    </HBDropdown>
</div>