@inherits LayoutComponentBase

<div class="page">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img alt="Headless Blazor Logo" src="HeadlessBlazorLogo-white.svg" /> 
                <span>Headless Blazor</span>
            </a>
        </div>
    </nav>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
