@implements IDisposable

<div @ref="_element">
    @foreach (var instance in ModalService.Instances)
    {
        <HBModalHostItem @key="instance.Id" Instance="instance" />
    }
</div>

<HBPortalBehavior Element="_element" />

@code {
    private ElementReference _element;
    
    // Injected via [Inject] to scope as internal
    [Inject]
    internal ModalService ModalService { get; set; } = null!;
    
    /// <inheritdoc />
    public void Dispose()
    {
        ModalService.StateChanged -= HandleStateChanged;
    }
    
    /// <inheritdoc />
    protected override void OnInitialized()
    {
        ModalService.StateChanged += HandleStateChanged;
    }

    /// <inheritdoc />
    protected override void OnAfterRender(bool firstRender)
    {
        // The captured element reference isn't populated until after this first render,
        // so force one more render to hand HBPortalBehavior a non-empty Element
        if (firstRender)
            StateHasChanged();
    }

    private void HandleStateChanged() => InvokeAsync(StateHasChanged);
}
