<Dropdown @ref="Dropdown" class="dropdown d-inline-block">
    <div class="dropdown">
        <DropdownTrigger Context="trigger">
            <button class="btn btn-primary dropdown-toggle" @onclick="Dropdown.Open">Click Me</button>
        </DropdownTrigger>
    </div>
    <DropdownTrigger class="btn btn-primary dropdown-toggle">Click Me</DropdownTrigger>
    <DropdownItems class="dropdown-menu show">
        <DropdownItem class="dropdown-item">Option 1</DropdownItem>
        <DropdownItem class="dropdown-item">Option 2</DropdownItem>
        <DropdownItem class="dropdown-item">Option 3</DropdownItem>
    </DropdownItems>
</Dropdown>

@code {
    private Dropdown Dropdown { get; set; } = default!;
}