@inherits DropdownComponentBase

<div @attributes="UserAttributes" @onclick="HandleClick">@ChildContent</div>

@code {
    public override Type Type => GetType();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<DropdownItem> OnClick { get; set; }

    [Parameter]
    public bool InheritClickHandler { get; set; } = true;

    protected virtual async Task HandleClick()
    {
        await OnClick.InvokeAsync(this);

        if (InheritClickHandler)
            await Dropdown.OnClickItem.InvokeAsync(this);
    }
}