@if (IsOpen)
{
    <div style="position: fixed; inset: 0;" @onclick="HandleClickOutside"></div>
}

<CascadingValue Value="this">
    <div @attributes="UserAttributes">
        @ChildContent?.Invoke(this)
    </div>
</CascadingValue>

@code {
    public bool IsOpen { get; private set; }

    [Parameter]
    public RenderFragment<Menu>? ChildContent { get; set; }

    [Parameter]
    public EventCallback<Menu> OnClickOutside { get; set; }

    [Parameter]
    public EventCallback<MenuItem> OnClickItem { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object?>? UserAttributes { get; set; }

    public async Task Toggle()  => await SetIsOpen(!IsOpen);
    public async Task Open()    => await SetIsOpen(true);
    public async Task Close()   => await SetIsOpen(false);

    private Task SetIsOpen(bool isOpen)
    {
        return InvokeAsync(() =>
        {
            IsOpen = isOpen;
            StateHasChanged();
        });
    }

    private async Task HandleClickOutside()
    {
        if (OnClickOutside.HasDelegate)
        {
            await OnClickOutside.InvokeAsync(this);
        }
        else
        {
            await Close();
        }
    }
}