<div style="position: fixed; top:0; right:0; bottom:0; left:0; background: transparent;" @onclick="Close"></div>

@ChildContent

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]

}